
body { 
background: rgb(221, 226, 211);
font-family: Georgia, "Times New Roman", Times, serif;
}
div .jumbotron {
margin-top: 40px;
padding-top: 20px;
padding-bottom: 20px;
background: white;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
line-height: 30px;
text-align: justify;
}

p {
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
color: rgb(46, 48, 48);
text-align: justify;
}
#display-1{
font-size: 30px;
font-family: Georgia, "Times New Roman", Times, serif;
color:#37cece;
font-weight: bold;
}
#display-2 {
margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
font-size: 20px;
font-family: Georgia, "Times New Roman", Times, serif;
color:#37cece;
font-weight: bold;
text-align: center;
}
#figure {
position: relative;
}
#sum-lat {
margin-left: 10px;
margin-right: 10px;
float: left;
height: 330px;
width: 430px;
}
#sum-lat-large {
margin-left: 10px;
margin-right: 10px;
/*float: left;*/
height: 400px;
width: 530px;
}
#vis {
margin-top: 10px;
margin-bottom: 10px;
height: 250px;
width: 350px;

}
#visualizations {
padding-top: 15px;
padding-bottom: 10px; 
background: rgb(241, 241, 241);  
text-align: center;
}

#data {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 30px;
margin-right: 30px;
padding-left: 20px;
padding-right: 20px;
background: white;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
line-height: 28px;
}
th{
  text-align: center;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(9, 69, 83);
  border: 1px solid rgb(5, 5, 5);
}

td{
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  color: rgb(79, 80, 82);
}
table, td {
  border: 1px dotted rgb(111, 113, 114);
}

@include media-breakpoint-down(md) {
  .custom-class {
    display: block;
  }
}


  
      

    